In [2]:
l=list()
print(type(l))

<class 'list'>

In [4]:
mem=['Ajith','Litheesh','Madala']

In [6]:
list=['a','b','c',[1,2,3],'d']

In [9]:
list[3][1]

2

# Dictionary

In [20]:
dict={'name':'Ajith','age':24,'place':'Vja',21:{'name':'AM','age':24}}
dict['name']='AM'

In [13]:
print(dict['name'])

AM

In [22]:
print(dict[21])

{'name': 'AM', 'age': 24}

#Tuples
Immutable

In [30]:
a=(21,5,99)
m=[16,6]
m.insert(2,97)
m.append(99)

In [31]:
print(m)

[16, 6, 97, 99]

# SET
Remove Duplicates

indexing will not be allowed in sets

Mutable

No Ordering of values in Set (But there is an error in Python Notebook)

In [42]:
s={21,21,21}
print(type(s))
s1=set(s)
print(s1)

<class 'set'>
{21}

In [66]:
s2={1,2,3,4,5}
print(type(s2))
s2.add(6)
s2.add(9)
s2.add(5)
s2.add(0)
print(s2)

<class 'set'>
{0, 1, 2, 3, 4, 5, 6, 9}

# RANGE
Indexing can be done

In [54]:
r=range(10)
print(r)
for i in r:
    print(i)

range(0, 10)
0
1
2
3
4
5
6
7
8
9

In [57]:
r=range(10,20,2)
print(r[0])
for i in r:
    print(i)

10
10
12
14
16
18

# Error in python notebook

In [73]:
l1=range(10,20)
l2=list(range(10,20))
for i in l2:
    print(i)

TypeError: 'list' object is not callable